<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta namr="viewpoint" content="width-device-width, initial-scale=1.0">
    <title>ssss</title>
    <link rel="stylesheet" href="/static/css/home.css">

</head>

<body>
<div id = 'resultado'>
    <h1>Resultados</h1>
    <h3>Nome: {{nome}}</h3> 
    <h3>ID: {{id}}</h3> 
    <h3>Pontuação: {{pontuacaoGeral}}</h3> 

</div>

<br>
    <button><a href='/'>Responder Novamente</a></button>
    <span></span>
    <span></span>
    <span></span>
    <span></span> 
    
</body>

</html>
